* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


body{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Coolwallpaper.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.navigation {
    padding: auto;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;width: 20%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.Games_img{
    margin-top: 5%;
    margin-left: 8%;
    
}
.Games_detail{
    height: 100%;
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
    
}
.ticket_Heading{
    margin-top: 5%;
    margin-left: 5%;
}